:root {
  /* Dark Theme Background Colors */
  --dark-background: #191d1b;
  --dark-background-darker: #131614;
  --dark-background-darkest: #0e100f;
  --dark-background-light: #252b28;
  --dark-background-lightest: #313a36;
  --dark-background-dark: #161a18;

  /* Light Theme Background Colors */
  --light-background: #daebe4;
  --light-background-lighter: #e4f3ec;
  --light-background-lightest: #f4fbf8;
  --light-background-dark: #cfe2da;
  --light-background-darker: #bbd6cc;
  --light-background-darkest: #abc3bb;

  /* Text Colors */
  --light-text: #212725;
  --dark-text: #daebe3;

  /* Primary Accent Colors */
  --light-primary-accent-color: #0d624d;
  --light-primary-accent-color-darker: #033b2d;
  --light-primary-accent-color-lighter: #2aa184;

  --dark-primary-accent-color: #0d624d;
  --dark-primary-accent-color-darker: #033b2d;
  --dark-primary-accent-color-lighter: #2aa184;

  /* Fonts */
  --font-main: "Inter";
  --font-heading: "Pathway Extreme";

  /* Default (Light Mode) Variables */
  --background: var(--light-background);
  --background-darker: var(--light-background-darker);
  --background-darkest: var(--light-background-darkest);
  --background-light: var(--light-background-light);
  --background-lightest: var(--light-background-lightest);
  
  --text: var(--light-text);

  --primary-accent-color: var(--light-primary-accent-color);
  --primary-accent-color-darker: var(--light-primary-accent-color-darker);
  --primary-accent-color-lighter: var(--light-primary-accent-color-lighter);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Override with Dark Mode Variables */
    --background: var(--dark-background);
    --background-darker: var(--dark-background-darker);
    --background-darkest: var(--dark-background-darkest);
    --background-light: var(--dark-background-light);
    --background-lightest: var(--dark-background-lightest);
    
    --text: var(--dark-text);

    --primary-accent-color: var(--dark-primary-accent-color);
    --primary-accent-color-darker: var(--dark-primary-accent-color-darker);
    --primary-accent-color-lighter: var(--dark-primary-accent-color-lighter);
  }
}
