/* ─────────── IMPORTS ────────── */
@import './variables.css';
@import './reset.css';

/* ─────────── THEMES ─────────── */
.dark-theme {
  /* Define dark overrides here if needed */
}

/* ─────────── RESET ─────────── */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  overflow-x: hidden;
  position: relative; /* Needed for absolutely positioned children */
}

/* ─────────── TYPOGRAPHY ─────────── */
h1 {
  color: var(--color-text-primary);
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
}

/* ─────────── COMPONENTS ─────────── */
.shared-card {
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 2px solid rgba(48, 130, 137, 0.50);
  background: rgba(0, 0, 0, 0.02);
}
