.scrollnav-container {
  display: flex;
  padding: 1rem;
  overflow: hidden;
}

.scrollnav-bar {
  position: relative;
  width: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.scrollnav-indicator {
  position: absolute;
  left: 0;
  right: 0;
  background: #0cafbf;
  border-radius: 1rem;
  transition: top 0.15s ease-out;
}

.scrollnav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.scrollnav-item {
  color: #6ecbd2;
  font-family: var(--font-main);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.scrollnav-item.active {
  color: #ffffff;
}