@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  /* Dark Theme Background Colors */
  --dark-background-lighter: #4a2626;
  --dark-background-light: #3b1e1e;
  --dark-background: #2e1919;
  --dark-background-dark: #261515;
  --dark-background-darker: #1e1111;
  --dark-background-darkest: #140b0b;

  /* Light Theme Background Colors */
  --light-background-lighter: #fbe4e4;
  --light-background-light: #ffffff;
  --light-background: #ebadad;
  --light-background-dark: #e28d8d;
  --light-background-darker: #d86a6a;
  --light-background-darkest: #c95656;

  /* Text Colors */
  --light-text: #331111;
  --dark-text: #f3dddd;

  /* Primary Accent Colors */
  --light-primary-accent-color: #8b1e1e;
  --light-primary-accent-color-darker: #580e0e;
  --light-primary-accent-color-lighter: #b14242;

  --dark-primary-accent-color: #8b1e1e;
  --dark-primary-accent-color-darker: #580e0e;
  --dark-primary-accent-color-lighter: #b14242;

  /* Fonts */
  --font-main: "Inter";
  --font-heading: "Pathway Extreme";

  /* Default (Light Mode) Variables */
  --background-lightest: var(--light-background-lightest);
  --background-light: var(--light-background-light);
  --background: var(--light-background);
  --background-dark: var(--light-background-dark);
  --background-darker: var(--light-background-darker);
  --background-darkest: var(--light-background-darkest);
  
  --text: var(--light-text);

  --primary-accent-color-lighter: var(--light-primary-accent-color-lighter);
  --primary-accent-color: var(--light-primary-accent-color);
  --primary-accent-color-darker: var(--light-primary-accent-color-darker);
}

.dark-theme {
  --background-lighter: var(--dark-background-lighter);
  --background-light: var(--dark-background-light);
  --background: var(--dark-background);
  --background-dark: var(--dark-background-dark);
  --background-darker: var(--dark-background-darker);
  --background-darkest: var(--dark-background-darkest);
  
  --text: var(--dark-text);

  --primary-accent-color: var(--dark-primary-accent-color);
  --primary-accent-color-darker: var(--dark-primary-accent-color-darker);
  --primary-accent-color-lighter: var(--dark-primary-accent-color-lighter);
}

body {
  background: var(--background-light);
  position: relative;  /* Needed for absolutely positioned elements inside the body */
  overflow-x: hidden;  /* Hide horizontal overflow if the content is too wide */
}

html, body {
  margin: 0;
  padding: 0;
  /* height: 700dvh;  Set the body height to 700% of the dynamic viewport height */
}

h1 {
  color: var(--text);
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
}
