.nav-wrapper {
  position: absolute;
  top: 2rem;
  left: 1rem;

  gap: 1rem;
  display: flex;
  flex-direction: column;

  max-width: var(--nav-width);
  width: 100%;
}

.header, .footer {
  position: relative;

  h4 {
    color: rgba(255, 255, 255, 0.65);
    text-align: right;
    font-family: var(--font-mono);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 0.8125rem */
  }
  strong {
    color: rgba(255, 255, 255, 0.90);
  }
}

.button {
  width: 100%;
  max-width: var(--nav-width);
  height: 3.0625rem;
  flex-shrink: 0;
  cursor: pointer;

  border-radius: 0.25rem;
  background: #D9E5E6;

  color: #3FA5AE;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 104.2%; /* 1.563rem */

  pointer: cursor;
}

.mobile-nav {
  position: absolute;
  width: 8rem;
  bottom: 0;
  right: 0;
}