.homebody-container {
  width: calc(100vw - var(--nav-width, 18.5625rem) - 2rem);
  margin-left: auto;
  padding: 2rem;
  height: 100vh; /* must be fixed! */
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.homebody-container::-webkit-scrollbar {
  display: none;
}

.homebody-inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: 200vh; /* just to test scroll overflow */
}

@media (max-width: 64em) {
  .homebody-container {
    width: 100%;
  }
}